:root {
    --background: #000000;
    --font: rgb(197, 114, 46);
    --border: #333;
    --screen: rgb(202, 202, 202);
    --calculator: rgb(46, 30, 30);
    --btn: rgb(0, 0, 0);
    --btn-hover: rgb(107, 255, 90);
    --btn-active: #ccc;
    --btn-red: rgb(201, 201, 54);
    --btn-red-hover: rgb(45, 36, 36);
    --btn-red-active: #d88;
    --btn-blue: rgb(50, 209, 32);
    --btn-blue-hover: rgb(38, 61, 41);
    --btn-blue-active: rgb(170, 221, 136);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }
  
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* MAIN */
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
    
  }
  
  .calculator {
    width: 400px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
    box-shadow: #ccc;}
     
  
  .screen {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .screen-last {
    min-height: 32px;
    font-size: 20px;
  }
  
  .screen-current {
    min-height: 64px;
    font-size: 40px;
  }
  
  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .span-2 {
    grid-column: span 2;
  }
  
  .btn {
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: var(--btn-hover);
  }
  
  .btn:active {
    background-color: var(--btn-active);
  }
  
  .btn-red {
    background-color: var(--btn-red);
  }
  
  .btn-red:hover {
    background-color: var(--btn-red-hover);
  }
  
  .btn-red:active {
    background-color: var(--btn-red-active);
  }
  
  .btn-blue {
    background-color: var(--btn-blue);
  }
  
  .btn-blue:hover {
    background-color: var(--btn-blue-hover);
  }
  
  .btn-blue:active {
    background-color: var(--btn-blue-active);
  }
  
  /* Disables input spinners in calc screen */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* FOOTER */
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--font);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  .navbar{
    display: flex;
    justify-content: flex-end;
    gap:30px;
    padding: 20px ;
    
  background-color: #000000;
box-shadow: rgb(92, 92, 92) 0px 3px 14px;  }
.navbar a{
  cursor: pointer;
}